@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--Beige, #EFEAE0);

}

.page-root {
    position: relative;
    margin: 90px 120px;
    min-height: 100vh;
    width: calc(100% - 240px);

}