@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

:root {
    --Blue: #4C7FB3;
    --Black: #312F27;
    --Beige: #EFEAE0;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--Beige);
}

.page-root {
    position: relative;
    margin: 90px 120px;
    min-height: 100vh;
    width: calc(100% - 240px);
}

@media (max-width: 768px) {

    .page-root {
        margin: 80px 0 0 0;
        width: 100%;
    }
}

.copyright {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: var(--Black);
    font-size: 12px;
    font-family: 'Noto Sans Display', sans-serif;
    background-color: transparent;
    padding: 4px 8px;
    border-radius: 4px;
    z-index: 1000;
}